.main {
    min-height: 100vh;
}

.content {
    margin: 16px;
    padding: 32px;
    background-color: white;
    border-radius: 16px;
}

.apps-table {
    margin-top: 16px;
}

.footer {
    text-align: center;
}